{% extends "_landing.html" %}

{% block landing %}
  
<section class="flex w-full items-center bg-gray-50 dark:bg-gray-900">
    <div class="w-full p-2 bg-white border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="w-full px-1 mx-auto">
            <!-- Start coding here -->
            <div class="relative overflow-hidden bg-white dark:bg-gray-800 sm:rounded-lg">
              <div class="flex-row items-center justify-between p-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
                <div>
                  <h5 class="mr-3 font-semibold dark:text-white uppercase text-slate-700">Postponement of Studies [POS] Details</h5>
                </div>
              </div>
            </div>
        </div>

        <div class="relative overflow-x-auto border-t border-gray-200 dark:border-gray-700">
            {% if messages %}
                {% for m in messages %}
                    <div class="z-20 message {% if m.tags == 'success' %} bg-green-900 {% elif m.tags == 'error' %} bg-red-900 {% endif %} p-1 px-5 text-white mb-2">
                        <p> <small class="font-extrabold "> {{m}} </small> </p>
                    </div>
                {% endfor %}
            {% endif %}


            <div class="dark:text-white p-4">
                
                
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li class="p-2 font-bold capitalize list-none">Studies Postponed on</li>
                    <li> {{ data.scheduleSemester__semester__semesterName }} </li>
                </ul>

                <blockquote class="p-4 my-4 border-l-4 mt-10 border-gray-300 bg-gray-50 dark:bg-gray-800">
                    <strong class="block text-lg font-bold">Notice:-</strong>
                    <p class="italic text-gray-900 dark:text-white">  
                        {{ data.msg }}
                    </p>
                </blockquote>


                <fieldset class="border border-gray-300 p-5 mt-10">
                    <legend class="mx-2"> <span class="mx-4 font-extrabold text-sm text-gray-700 dark:text-white">RESUME STUDIES</span> </legend>
                    <form class="md:flex md:flex-row md:items-center gap-10" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-10 md:mb-0 ">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="evidence">Attachement</label>
                            <input class="block w-full mb-1.5 text-xs text-gray-900 border border-gray-300 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" name="attachement" id="attachement" type="file">
                            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" >
                                <span class="flex items-center" id="file_input_help"> <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                 </svg>
                                PDF only & not exceed 2MB </span>
                            </p>
                        </div>
    
                        <button id="submitBtn" type="submit" class="flex items-center justify-center px-4 py-1.5 text-sm font-medium text-gray-700 dark:text-white rounded-sm bg-primary-700 hover:bg-primary-800 ring-2 ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 outline-none dark:ring-primary-800 hover:bg-gray-100 dark:hover:bg-gray-700">Submit request</button>
                    </form>
                </fieldset>
            </div>
        </div>

    </div>
  </section>

  
{% endblock landing %}